In [123]:
import pandas as pd
journals1= pd.read_csv('Journals Part 1.csv')
journals2 = pd.read_csv('Journals Part 2.csv')
journals = pd.concat([journals1,journals2])

In [93]:
sales = pd.read_excel('SalesCS.xlsx')

In [94]:
accountsteam = pd.read_csv('Accounts Team Staff.csv')

In [125]:
journals = journals.merge(accountsteam, how = 'left', left_on = 'JnlPrep', right_on = 'EmployeeRef')

In [127]:
journals['JnlPreparerName'] = journals['Employee Name']
journals = journals.drop(columns = ['EmployeeRef','Employee Name'])

In [129]:
journals = journals.merge(accountsteam, how = 'left', left_on='JnlAuth',right_on = 'EmployeeRef')

In [131]:
journals['JnlAuthoriserName'] = journals['Employee Name']
journals = journals.drop(columns = ['EmployeeRef', 'Employee Name'])
journals.head()

,Account,AccountDesc,TransDesc,Debit,Credit,Period,JnlNo,JnlDesc,Amount,JnlPrep,JnlAuth,JnlDateTime,JnlPreparerName,JnlAuthoriserName
0,00-80-8033,Provision for Sales Schemes,ZZX,0.00,9668.59,2019-1,1,Reversed By Jnl 2019-9 Journal No. 277,-9668.59,HV09,AS13,01/01/2019 13:04,Lakeisha Testerman,Jonelle Moseley
1,00-10-1002,Provisions - Trade Sales,XXX,9668.59,0.00,2019-1,1,Reversed By Jnl 2019-9 Journal No. 277,9668.59,HV09,AS13,01/01/2019 13:04,Lakeisha Testerman,Jonelle Moseley
2,00-80-8033,Provision for Sales Schemes,ZZX,0.00,291191.30,2019-1,1,Reversed By Jnl 2019-9 Journal No. 277,-291191.30,HV09,AS13,01/01/2019 13:04,Lakeisha Testerman,Jonelle Moseley
3,00-10-1001,Trade Sale Recycle Scheme,ZZZ,291191.30,0.00,2019-1,1,Reversed By Jnl 2019-9 Journal No. 277,291191.30,HV09,AS13,01/01/2019 13:04,Lakeisha Testerman,Jonelle Moseley
4,00-20-2004,Provision for Obselete Inventory,923,0.00,12848.50,2019-1,10,Reversed By Jnl 2019-4 Journal No. 366,-12848.50,DF18,TC01,30/01/2019 09:56,Jon Mckinley,Johnny Hevey

In [133]:
#Check for duplicates. Subset  = None means that all columns will be checked. If you want to check specific columns you would write the column header as a string here.
#Saying 'first' means that only the first duplicate is considered 'false' and returned, the rest are treated as 'True'
journals.duplicated(subset = None, keep = 'first')

0       False
1       False
2       False
3       False
4       False
        ...
3996     True
3997     True
3998     True
3999     True
4000     True
Length: 4001, dtype: bool

In [135]:
duplicates = journals.duplicated()
duplicated_values = journals[duplicates].sort_values(by = 'Amount')
print(duplicated_values['JnlNo'].count())

40

In [137]:
journals.drop_duplicates(inplace = True)

In [139]:
duplicates = journals.duplicated()
duplicated_values = journals[duplicates].sort_values(by = 'Amount')
print(duplicated_values['JnlNo'].count())

0

In [141]:
#Now to identify any null values
journals.JnlDateTime[journals.JnlDateTime.isna()]

1027    NaN
1028    NaN
1029    NaN
1030    NaN
1031    NaN
1032    NaN
1033    NaN
1034    NaN
1035    NaN
1036    NaN
1037    NaN
1038    NaN
1039    NaN
1040    NaN
1041    NaN
1042    NaN
1043    NaN
Name: JnlDateTime, dtype: object

In [143]:
#We now set the NA values as Blank
journals['JnlDesc'].fillna('Blank')

0       Reversed By Jnl 2019-9 Journal No. 277
1       Reversed By Jnl 2019-9 Journal No. 277
2       Reversed By Jnl 2019-9 Journal No. 277
3       Reversed By Jnl 2019-9 Journal No. 277
4       Reversed By Jnl 2019-4 Journal No. 366
                         ...
3971                                     Blank
3972                                     Blank
3973                                     Blank
3974                                     Blank
3975                                     Blank
Name: JnlDesc, Length: 3961, dtype: object

In [145]:
journals['JnlDateTime'][1020:1050]

1020    30/06/2019 09:26
1021    30/06/2019 09:26
1022    30/06/2019 09:26
1023    30/06/2019 09:26
1024    31/01/2019 12:27
1025    31/01/2019 12:27
1026    31/01/2019 12:27
1027                 NaN
1028                 NaN
1029                 NaN
1030                 NaN
1031                 NaN
1032                 NaN
1033                 NaN
1034                 NaN
1035                 NaN
1036                 NaN
1037                 NaN
1038                 NaN
1039                 NaN
1040                 NaN
1041                 NaN
1042                 NaN
1043                 NaN
1044    30/06/2019 12:47
1045    30/06/2019 12:47
1046    30/06/2019 15:15
1047    30/06/2019 15:15
1048    30/06/2019 15:15
1049    30/06/2019 15:15
Name: JnlDateTime, dtype: object

In [149]:
journals.fillna(method = 'ffill', inplace = True)

/var/folders/66/gwqqg3ms3hz63rft5zbg43700000gn/T/ipykernel_61689/47505799.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  journals.fillna(method = 'ffill', inplace = True)

In [151]:
journals['JnlDateTime'][1020:1050]

1020    30/06/2019 09:26
1021    30/06/2019 09:26
1022    30/06/2019 09:26
1023    30/06/2019 09:26
1024    31/01/2019 12:27
1025    31/01/2019 12:27
1026    31/01/2019 12:27
1027    31/01/2019 12:27
1028    31/01/2019 12:27
1029    31/01/2019 12:27
1030    31/01/2019 12:27
1031    31/01/2019 12:27
1032    31/01/2019 12:27
1033    31/01/2019 12:27
1034    31/01/2019 12:27
1035    31/01/2019 12:27
1036    31/01/2019 12:27
1037    31/01/2019 12:27
1038    31/01/2019 12:27
1039    31/01/2019 12:27
1040    31/01/2019 12:27
1041    31/01/2019 12:27
1042    31/01/2019 12:27
1043    31/01/2019 12:27
1044    30/06/2019 12:47
1045    30/06/2019 12:47
1046    30/06/2019 15:15
1047    30/06/2019 15:15
1048    30/06/2019 15:15
1049    30/06/2019 15:15
Name: JnlDateTime, dtype: object

In [154]:
#Now for sales
duplicates = sales.duplicated()
duplicated_values = sales[duplicates].sort_values(by = 'Order ID')
print(duplicated_values['Order ID'].count())

18

In [160]:
sales.drop_duplicates(inplace = True)

In [162]:
#Now for sales
duplicates = sales.duplicated()
duplicated_values = sales[duplicates].sort_values(by = 'Order ID')
print(duplicated_values['Order ID'].count())

0

In [164]:
#it looks to be the postal code column with missing values but sum will work to check this
sales.isna().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment              22
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market               60
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [166]:
#Now fill in NA with the string 'unkown'. For this to save ie permanently change the data, = MUST be used
sales['Postal Code'] = sales['Postal Code'].fillna('Unkown')
sales['Segment'] = sales['Segment'].fillna('Unkown')
sales['Market'] = sales['Market'].fillna('Unkown')

In [168]:
sales.isna().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Postal Code       0
City              0
State             0
Country           0
Region            0
Market            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
Shipping Cost     0
Order Priority    0
dtype: int64

In [174]:
journals.shape

(3961, 14)

In [176]:
sales.shape

(51290, 24)